[submodule "iconsets/tango"]
	path = iconsets/tango
	url = git://github.com/bitweaver/iconset_tango.git
[submodule "iconsets/gorilla"]
	path = iconsets/gorilla
	url = git://github.com/bitweaver/iconset_gorilla.git
[submodule "iconsets/gnome"]
	path = iconsets/gnome
	url = git://github.com/bitweaver/iconset_gnome.git
[submodule "iconsets/highcontrast"]
	path = iconsets/highcontrast
	url = git://github.com/bitweaver/iconset_highcontrast.git
